body, button, input, select, textarea {
  font-family: 'Lato', sans-serif;
}
.App {
  padding: 0;
  margin: 0;
}

fieldset {
  border: 1px solid transparent;
}
.section {
  padding: 1.5rem 1.5rem;
}

.table.is-transparent {
  background-color: transparent;
}
